# Secondary dataset

I found this small dataset in Kaggle after searching for a while. GDP by states wasn't exactly what I am looking for, neither GDP by cities. Worth to mention that, this dataset have crime rate and school rate by zip code, the features which affect the price most.

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("arnavgupta1205/usa-housing-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/arnavgupta1205/usa-housing-dataset?dataset_version_number=1...

100%|██████████| 6.28k/6.28k [00:00<00:00, 6.44MB/s]

Extracting files...
Path to dataset files: C:\Users\Администратор\.cache\kagglehub\datasets\arnavgupta1205\usa-housing-dataset\versions\1

In [2]:
import pandas as pd 
data = pd.read_csv('additional.csv')
print(data.head())

    Price  Bedrooms  Bathrooms  SquareFeet  YearBuilt  GarageSpaces  LotSize  \
0  221958         1        1.9        4827       1979             2     1.45
1  771155         2        2.0        1035       1987             2     1.75
2  231932         1        3.0        2769       1982             1     1.46
3  465838         3        3.3        2708       1907             3     1.62
4  359178         4        3.4        1175       1994             2     0.74

   ZipCode  CrimeRate  SchoolRating
0    82240      48.60             5
1    74315      92.03             9
2    79249      52.08             3
3    80587      61.65             1
4    20756      15.66             4

In [3]:
data.drop(columns=['Price', 'Bedrooms', 'Bathrooms', 'SquareFeet', 'YearBuilt', "GarageSpaces", 'LotSize' ], inplace=True)
data.to_csv('secondary.csv', index=False)

In [4]:
data.head()

   ZipCode  CrimeRate  SchoolRating
0    82240      48.60             5
1    74315      92.03             9
2    79249      52.08             3
3    80587      61.65             1
4    20756      15.66             4

In [5]:
data.shape

(300, 3)