## House Price Prediction - USA (States) Raw Data

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ahmedshahriarsakib/usa-real-estate-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ahmedshahriarsakib/usa-real-estate-dataset?dataset_version_number=25...

100%|██████████| 38.2M/38.2M [00:01<00:00, 25.6MB/s]

Extracting files...

Path to dataset files: C:\Users\Администратор\.cache\kagglehub\datasets\ahmedshahriarsakib\usa-real-estate-dataset\versions\25

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv('realtor-data.zip.csv')

## A. Data Overview.

In [2]:
df = data.copy()
df.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [3]:
df.shape

(2226382, 12)

In [4]:
df.isna().sum()

brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

In [8]:


# --- Assuming 'target' is the name of your target column ---
X = df.drop('price', axis=1)
y = df['price']

# 2. Split the data (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 3. Recombine features and targets for full CSV files
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

# 4. Save to separate CSV files
train_data.to_csv('train_set.csv', index=False)
test_data.to_csv('test_set.csv', index=False)

print("Data successfully split and saved to 'train_set.csv' and 'test_set.csv'!")

Data successfully split and saved to 'train_set.csv' and 'test_set.csv'!